 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Thanks for checking out my site! My name is Simon and I've been working in Defense for 5 years. I have a profound interest in Electrical Engineering and signal processing, and would love to work in consumer elecronics. </p>
                </div>
                <div class="col-lg-4">
                    <p> Feel free to contact me if interested, or click on the below links to learn more about my projects. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                   <!-- <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a> -->
                </div>
            </div>
        </div>
    </section>